:root {
    --accent-color: coral;
    --grey-dark: #222;
    --grey-dark-md: #494949;
    --grey-medium: #838383;
    --grey-medium-light: #b3b3b3;
}
body {
    font-size: 0.9rem;
}
fieldset:has([aria-invalid=true]) legend,
fieldset:has([aria-invalid=true]) h2 {
    color: red;
}
[aria-invalid="true"],
[aria-invalid="true"]:focus,
[aria-invalid="true"]:focus-visible {
    outline: 1px solid red;
    outline-offset: 2px;
}
.as-legend {
    all: inherit;
    display: inline-block;
    width: calc(50% - 12px);
}
.header__logo {
    width: 128px;
}
[aria-label="Test section"]:before {
    content: "Test";
}
.uk-nav-default > li > a,
.uk-nav-default > li > a:hover,
.uk-nav-default > li > a:focus-visible {
    color: #000;
    padding: 7px 15px;
}
.header,
.section__test,
.settings {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}
.settings {
    gap: 30px;
}
.header {
    row-gap: 0;
}
main {
    max-width: 780px;
    padding-bottom: 60px;
}
.header > *:nth-child(1) {
    justify-self: center;
}
.header > *:nth-child(2) {
    align-self: center;
}
.settings > *:nth-child(1) {
    grid-column: 1 / 3;
}
.settings > *:nth-child(2) {
    grid-column: 1 / 2;
}
.settings > *:nth-child(3) {
    grid-column: 2 / 3;
}

.uk-table-small th,
.uk-table-small td {
    padding: 4px 12px 4px 0;
}
.uk-table-small td:last-child {
    text-align: center;
    vertical-align: middle;
}
input[type="image"] {
    width: 24px;
}
input[type="image"]:hover {
    border-radius: 50%;
    outline: 1px solid #e5e5e5;
    outline-offset: 7px;
}
.section__test {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 2fr 1fr 1fr;
}
.section__test > *:last-child {
    grid-area: 2 / 1 / 3 / 4;
}
.settings__section:not([aria-hidden="false"]) {
    display: none;
}
.test-url--matches-true {
    color: var(--accent-color);
}
.test-url--matches-false span {
    color: #a3a3a3;
}
.help-button {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    float: right;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 30px;
}
.uk-icon-button.uk-icon-button--delete {
    background-color: transparent;
    border-radius: 50%;
    border: 0 none;
    cursor: pointer;
    outline: 1px solid transparent;
    transition: all .3s;
}
.uk-icon-button.uk-icon-button--delete svg {
    pointer-events: none; /* let events fire on the button element */
}
.uk-icon-button.uk-icon-button--delete [href="#TrashCan"] {
    fill: #888;
}
.uk-icon-button.uk-icon-button--delete:hover [href="#TrashCan"],
.uk-icon-button.uk-icon-button--delete:focus-visible [href="#TrashCan"] {
    fill: #000;
}
.uk-table th {
    color: #666;
}

.uk-fieldset .uk-fieldset .uk-legend {
    font-size: 1rem;
    margin: 8px 0;
}
.uk-margin.--margin-checkbox {
    margin: 8px 0 !important;
}
.uk-textarea, .uk-select, .uk-input {
    margin-top: 4px;
}
[type="range"] {
    width: 100%;
}
[data-disabled="true"] {
    background-color: var(--grey-medium-light);
    color: black;
    opacity: 0.3;
    pointer-events: none;
}

@media screen and (max-width: 799.99px) {
    .settings {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .settings > *:nth-child(2) {
        grid-column: 1 / 3;
    }
    .settings > *:nth-child(3) {
        grid-column: 1 / 3;
    }

    .header {
        grid-template-columns: 80px 1fr;
    }
    .settings__navigation-list.uk-nav {
        align-items: stretch;
        display: flex;
    }
    .settings__navigation-list.uk-nav a {
        height: 100%;
        margin-right: 16px;
    }
    .uk-nav-default > li > a:hover,
    .uk-nav-default > li > a:focus-visible {
        text-decoration: underline;
    }
    .uk-nav-default > li > a[aria-current="true"] {
        background-color: #ccc;
        cursor: default;
        text-decoration: none;
    }
}
@media screen and (max-width: 1200px) {
    .section__test {
        grid-template-columns: 2fr 1fr;
    }
    .section__test > *:last-child {
        grid-area: 2 / 1 / 3 / 4;
    }
    .as-legend {
        width: calc(100% - 53px);
    }
}
@media screen and (min-width: 800px) {
    .uk-nav-default > li > a:hover,
    .uk-nav-default > li > a:focus-visible,
    .uk-nav-default > li > a[aria-current="true"] {
        box-shadow: var(--accent-color) -8px 0px;
    }
    .uk-nav-default > li > a[aria-current="true"]:hover,
    .uk-nav-default > li > a[aria-current="true"]:focus-visible,
    .uk-nav-default > li > a[aria-current="true"] {
        box-shadow: #000 -8px 0px;
    }

    [id="sectionAboutNavItem"] {
        margin-top: 35px;
    }
    [id="sectionAboutNavItem"] a {
        border-top: 1px solid #ccc;
    }
    [aria-label="Test section"]:before {
        content: "Test section";
    }
}


svg path {
    fill: none;
    stroke: rgb(102, 102, 102);
}

@layer help {
    .help {
        background-color: var(--grey-dark-md);
        border-radius: 0.5rem;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
        color: white;
        font-family: system-ui, sans-serif;
        font-size: 1rem;
        inset-area: center left;
        line-height: 1.3;
        margin: 14px;
        max-width: 380px;
        opacity: 0;
        padding: 1.2rem 1.4rem;
        pointer-events: none;
        position: absolute;
        text-wrap: balance;
    }
    button:focus + .help,
    button:hover + .help {
        opacity: 1;
    }

    .help::before {
        background-color: inherit;
        clip-path: polygon(0% 0%, 50% 50%, 0% 100%) ;
        content: "";
        display: block;
        height: 14px;
        right: -13px;
        position: absolute;
        top: calc(50% - 7px);
        width: 14px;
    }

    .help.help--warning {
        background-color: yellow;
        color: black;
    }

    .help.help--top {
        inset-area: top center;
    }

    .help.help--top::before {
        bottom: -14px;
        clip-path: polygon(0% 0%, 50% 50%, 100% 0%);
        top: unset;
    }
}